@import "../node_modules/ol/ol.css";
@import "font-jagotani.min.css";

/* @font-face {
  font-family: 'SFCompactRounded';
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Regular.eot');
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Regular.woff2') format('woff2'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Regular.woff') format('woff'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Regular.ttf') format('truetype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Regular.svg#SFCompactRounded-Regular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: "SFCompactRounded";
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Medium.eot');
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Medium.woff2') format('woff2'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Medium.woff') format('woff'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Medium.ttf') format('truetype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Medium.svg#SFCompactRounded-Medium') format('svg');
  font-weight: 500;
}
@font-face {
  font-family: "SFCompactRounded";
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Light.eot');
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Light.woff2') format('woff2'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Light.woff') format('woff'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Light.ttf') format('truetype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Light.svg#SFCompactRounded-Light') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: "SFCompactRounded";
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.eot');
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.woff2') format('woff2'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.woff') format('woff'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.ttf') format('truetype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.svg#SFCompactRounded-Semibold') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: "SFCompactRounded";
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Bold.eot');
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Bold.woff2') format('woff2'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Bold.woff') format('woff'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Bold.ttf') format('truetype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Bold.svg#SFCompactRounded-Bold') format('svg');
  font-weight: 700;
} */

:root{
  --gp-padding: 0.54rem;
  --gp-margin-bottom: 0.54rem;
  --gp-border-radius: 0.45rem;
  --gp-padding-mobile: calc(0.81 * var(--gp-padding));
  --gp-margin-bottom-mobile: calc(0.81 * var(--gp-margin-bottom));
  --gp-border-radius-mobile: calc(0.81 * var(--gp-border-radius));
}

html, body {
  margin: 0;
  height: 100%;
  /* font-family: 'SFCompactRounded', Helvetica, sans-serif; */
  /* font-family: 'IPSCondensed', Helvetica, sans-serif; */
  font-family: 'IBM Plex Sans Condensed', Helvetica, sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#mapinfo tr > th:nth-child(1),
#mapinfo tr > td:nth-child(2) {
    display: none;
}
#mapinfo .table th, #mapinfo .table td {
    font-size: 0.9rem;
}

#mapinfo .table>:not(:first-child) {
    border-top: 1px solid #dedede;
}

#mapinfo .table th {
    border-bottom: 2px solid #dedede;
}

#map-info table.table, #mapinfo table.table{
  margin-bottom: 0;
  caption-side: top;
}
#mapinfo table caption{
  font-weight: bolder;
  color: var(--bs-gray-600);
}

#mapInfo .btn-close{
  float: right;
  margin-bottom: -1rem;
}

#mouse-position {
  position: absolute;
  left: 0.5em;
  bottom: 3.2em;
  z-index: 1;
  font-size: 0.72rem;
  color: white;
  background-color: rgba(0,60,136,0.5);
  padding: 0.18rem 0.27rem;
}


#menu-toggle {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0.54rem;
  left: 0.54rem;
  background-color: #004572de;
  border-color: transparent;
  padding: 0.54rem 0.72rem;
  min-width: 14.4rem;
  min-height: 3.33rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.45rem;
}
#menu-toggle:focus{
  box-shadow: none !important;
  background-color:transparent;
  border-color:transparent;
}
#menu-toggle #menu-title{
  margin: 0 0.54rem;
  font-size: 1.08rem;
}
#menu-toggle.select-active{
  background-color: #004572de;
}

.ol-control {
  padding: 0;
}
.ol-zoom {
    top: 0.54em;
    left: 15.48em;
    display: flex;
}
.ol-zoom .ol-zoom-in {
  border-radius: 0.36rem 0 0 0.36rem;
}
.ol-zoom .ol-zoom-out {
  border-radius: 0 0.36rem 0.36rem 0;
}
.ol-overviewmap {
  display: none;
    /* left: 15.48em;
    bottom: 2.52em; */
}
.ol-scale-line {
  display: none;
    /* left: 15.48em;
    bottom: 0.54em; */
}

/* offcanvas custom */
.offcanvas{
  background: linear-gradient(180deg, #004572 10%, #004572ed);
  box-shadow: inset -4.5px 0px 0px #ffc106;
}
.offcanvas-header:before {
  position: absolute;
  content: "";
  width: 43.2px;
  height: 32.4px;
  background-color: #ffc106;
  right: 0;
  border-radius: 0.36rem 0 0 0.36rem;
}

.offcanvas-header .btn-close {
  z-index: 1;
}
.offcanvas-header .btn-close:focus {
    outline: 0;
    box-shadow: none;
    z-index: 0;
}
.offcanvas-body {
    padding: 1rem 1.45rem 1rem 1rem;
}
.offcanvas-body small{
  opacity: 0.63;
}


#filter-div {
  position: absolute;
  top: 0.54rem;
  right: 0.54rem;
  padding: 0.45rem 0.72rem;
  border-radius: 0.36rem;
  background: #063b63de;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846;
}

#map-filter-toggle, #select-filter-toggle {
  color: #ffffff;
  text-decoration: none;
  /* margin: 0; */
}
#map-filter {
  position: relative;
  /* top: 0.54em;
  right: 0.54em;
  padding: 0.63rem 0.72rem;
  border-radius: 0.45rem;
  background: #063b63c0;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846; */
}
#map-filter .form-switch .form-check-input {
  width: 1.8em;
  margin-left: -2.16em;
}
#map-filter .form-switch .form-check-label {
  font-size: 0.81rem;
  margin-right: 0.36em;
}

#select-filter {
  position: relative;
  margin-top: 0.54rem;
  /* padding: 0.63rem 0.72rem;
  border-radius: 0.45rem;
  background: #063b63c0;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846; */
}
#select-filter:before {
  content: "";
  position: absolute;
  left: 20%;
  top: -4.5px;
  width: 60%;
  height: 0.9px;
  background: radial-gradient(circle at center, #ffffff27, transparent);
}
#select-filter .form-switch .form-check-input {
  width: 1.8em;
  margin-left: -2.16em;
}
#select-filter .form-switch .form-check-label {
  font-size: 0.81rem;
  margin-right: 0.36em;
}

#filters, #select-filters{
  margin-top: 0.36rem;
}

#afdeling-filter, #block-filter {
  padding: 0.63rem 0.72rem;
  border-radius: 0.45rem;
  background: #063b63c0;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846;
}

#afdeling-filter label, #block-filter label {
  width: 2.07rem;
  margin: 0 0.36rem 0.63rem 0;
  font-size: 0.81rem;
  border-color: #f8f9fa80;
}
#afdeling-filter label:focus, #block-filter label:focus {
  box-shadow: 0 0 0 0.09rem rgb(248 249 250 / 50%);
}

.border-bottom-blue{
  border-bottom: 0.54px solid #407496;
}

#wrapper{
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
}

#sidebar{
  /* background: linear-gradient(180deg, #004572 20%, #004572de); */
  width: 14.4rem;
  position: absolute;
  top: 0.54rem;
  left: 0.54rem;
  z-index: 1;
  border-radius: 0.45rem;
  padding: 3.42rem 0 0.54rem;
}

#sidebar.select-active #stats {
  background: #002d4b;
}

::-webkit-scrollbar {
    width: 0.54rem;
    margin-left: -0.54rem;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
}

#content{
  width: calc(100% - 324px);
  position: relative;
  flex: 1 1 auto;
}
#info {
  background: #002d4b;
  width: calc(100% - 16.02rem);
  z-index: 1;
  position: absolute;
  bottom: 0.54rem;
  left: 15.48rem;
  border-radius: 0.45rem;
}
#info button#edit-feature {
    max-width: fit-content;
}
#info .row.feature-box {
    background-color: #ededed18;
    border-radius: 0.45rem;
}
#info .btn-close{
  float: right;
  margin-left: -1.53rem;
}
#info .feature-title{
  min-width: max-content;
  margin-right: 1rem;
}
#info-button {
  background: #002d4b;
  position: absolute;
  left: 14.4rem;
  bottom: 0.54rem;
  border-start-start-radius: 0px !important;
  border-end-start-radius: 0px !important;
  padding-inline-start: 0.36rem !important;
}

#title {
  line-height: 1;
  text-align: center;
  background-color: #063b63;
  margin: 0.54rem 0;
  border-radius: 0.45rem;
  border: 0.27px solid #02284600;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846;
  padding: 0.9rem 0;
}

#stats {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-top: 0.54rem;
  background: #004572de;
  padding: var(--gp-padding);
  border-radius: var(--gp-border-radius);
  overflow-y: auto;
  scrollbar-width: 0.54rem;
}
#stats.info-active{
  border-end-end-radius: 0;
}

.stats-title {
  color: #ff9800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  overflow-inline: hidden;
}
.stats-title-text {
  color: #ff9800;
  margin-left: 0.36rem;
}

#stats .stats-box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 5.4rem;
  line-height: 1;
  text-align: center;
  background-color: #efefef09;
  margin: 0 0 0.54rem 0;
  border-radius: 0.45rem;
  border: 0.27px solid #efefef18;
}
#stats .stats-box:before {
  content: "";
  position: absolute;
  left: 20%;
  top: 42.3%;
  width: 60%;
  height: 0.9px;
  background: radial-gradient(circle at center, #ffffff27, transparent);
}

.stats-box .stats-label{
  font-size: 0.8em;
  font-weight: 300;
}
.stats-box .stats-value{
  position: relative;
  font-size: 1.8em;
  margin-top: 0.54rem;
  font-weight: 500;
}
#back-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
#back-stats i {
  margin-bottom: -2.97px;
  font-size: 1.26em;
}
.stats-boxes {
  display: flex;
  flex-direction: column;
}

#stats-boxes-button {
  position: relative;
  color: #ffffff;
  padding: 0.27rem 0 0;
  line-height: 0.99em;
  background: transparent !important;
}
#stats-boxes-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.08px;
  background: radial-gradient(#ffffff45, transparent);
}

.sidebar-title {
   display: none;
}

/* info table style */
.add-data-blok {
  margin: 0 0 0 0.36rem !important;
  padding: 0.09rem 0.27rem !important;
}
.table>:not(:first-child) {
  border-top: 1px solid #ffffff63;
}
tbody, td, tfoot, th, thead, tr {
  border-color: #ffffff63;
}

/* Farm select */

.farm-select-div{
  display: flex;
}

.farm-select {
  background: #ffffff27;
  border: none !important;
  text-transform: uppercase;
  color: #ff9800;
  font-weight: 500;
  font-size: 1.17rem;
  line-height: 1.17em;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.45rem center;
  background-size: 12px 12px;
  border-radius: 0;
  padding: 0;
  margin-top: 0.27rem;
  margin-bottom: 0.27rem;
}
.farm-select:focus {
  box-shadow: unset;
}
.farm-select option {
  font-size: 0.8em;
  color: var(--bs-dark);
}

.farm-select-year {
  color: #ffffff;
  font-size: 0.99rem;
  line-height: 1.17em;
  text-align: left;
  margin-left: 0.54px;
}
#farm-select-1{
  margin-bottom: 0;
}
#farm-select-year-1 {
  margin-top: 1.08px;
  text-align: unset;
}
#farm-select-2{
  flex-shrink: 1;
}
#farm-select-year-2 {
  flex-shrink: 3;
  padding-inline-start: 7.2px;
  margin-left: 1.08px;
}


/* Mobile Style */

body.mobile #sidebar{
  width: 4.5rem;
}

body.mobile #menu-toggle{
  min-width: 4.5rem;
}
body.mobile #menu-title{
  display: none;
}
#stats {
  padding: var(--gp-padding-mobile);
  border-radius: var(--gp-border-radius-mobile);
}
body.mobile #stats .stats-title {
  flex-direction: column;
  max-width: 3.33rem;
}
body.mobile #stats .stats-title-text {
    margin-left: unset;
    max-width: 100%;
}

body.mobile #stats .stats-box {
  min-height: 3.42rem;
  padding: 0 0.36rem;
}

body.mobile #stats .stats-box:before {
  display: none;
}

body.mobile .stats-box .stats-label{
  font-size: 0.63em;
}
body.mobile .stats-box .stats-value{
  margin-top: 0;
  font-size: 0.9em;
}
body.mobile button#back-stats {
  font-size: 0.72rem;
  padding: 0.36rem 0.36rem 0.36rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.mobile .ol-zoom {
  top: 4.5rem;
  left: 5.58rem;
  display: flex;
}
body.mobile .ol-overviewmap {
  display: none;
    /* left: 5.58rem;
    bottom: 2.52rem; */
}
body.mobile .ol-scale-line {
  display: none;
    /* left: 5.58em;
    bottom: 0.54rem; */
}

body.mobile #title {
  display: none;
}
body.mobile .sidebar-title {
  display: block;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  width: calc(100% - 6.12rem);
  top: 0.54rem;
  left: 5.58rem;
  line-height: 1;
  text-align: center;
  background-color: #063b63;
  margin: 0;
  border-radius: 0.45rem;
  border: 0.27px solid #02284600;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846;
  padding: 0.18rem 0;
}

body.mobile #filter-div {
  position: absolute;
  top: 4.5rem;
  right: 0.54rem;
  padding: 0.36rem 0.54rem;
}
body.mobile #map-filter {
  font-size: 0.8rem;
}
body.mobile #select-filter {
  font-size: 0.8rem;
}
body.mobile #info {
  width: calc(100% - 6.12rem);
  bottom: 0.54rem;
  left: 5.58rem;
  font-size: 0.72rem;
}
body.mobile #info .btn-close{
  margin-left: -1.17rem;
}
body.mobile #info #edit-feature {
  font-size: 0.72rem;
  padding: 0.18rem 0.36rem;
  margin-left: 0.54rem;
}
body.mobile #sub-stats #edit-feature{
  font-size: 0.72rem;
  padding: 0.36rem 0.36rem 0.36rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.mobile #sidebar .logged-on,
body.mobile #sidebar .logged-off,
body.mobile #sidebar #login,
body.mobile #sidebar #logout {
  font-size: 0.72rem;
}
body.mobile #sidebar .logged-user {
  flex-direction: column;
  margin-bottom: unset;
  text-align: center;
  line-height: 1;
  margin-bottom: 0.27rem;
}
body.mobile #sidebar .logged-on.show,
body.mobile #sidebar .logged-off.show {
  max-width: 3.33rem;
}

body.mobile #info-button{
  left: 4.5rem;
  bottom: 0.54rem;
  padding-inline-start: 0.18rem !important;
}
.jt-info {
  color: white;
}

body.mobile #user-box {
  margin: var(--gp-padding-mobile) 0 0;
  padding: var(--gp-padding-mobile);
  border-radius: var(--gp-border-radius-mobile);
}

/* Login */

#user-box {
  display: flex;
  margin: var(--gp-padding) 0 0;
  background-color: #004572;
  padding: var(--gp-padding);
  border-radius: var(--gp-border-radius);
  justify-content: center;
}

#login:focus, #logout:focus {
  box-shadow: 0 0 0 0.1rem rgb(7 59 99 / 54%);
}
#sidebar .logged-on.show, #sidebar .logged-off.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logged-user {
  display: flex;
  flex-direction: unset;
  align-items: center;
}
#authentication {
  background-image: url('/images/countour.svg'), radial-gradient(100% 50% at center, #004572, #022846);
  background-size: cover;
  background-repeat: no-repeat;
}
#authentication .modal-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: radial-gradient(circle at center, #004572, transparent);
}
#authentication .btn-close{
  position: absolute;
  top: 0.54rem; right: 0.54rem;
  color: #ffffffca;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
#authentication #login-form{
  max-width: 15.3rem;
}
#authentication #login-form .form-control:focus,
#authentication .login-action button:focus
{
  box-shadow: 0 0 0 0.25rem rgb(7 59 99 / 50%);
}
#authentication .brand{
  display: flex;
  justify-content: center;
  align-items: center;
}
#authentication .brand-text {
    font-size: 2rem;
    line-height: 1;
}
#authentication .login-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/* custom bootstrap */
.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .09rem #00457227;
}
.collapsing{
  transition: height .36s ease-out;
}
#info-button.collapsing{
  height:unset;
  opacity: 0;
  transition: opacity .18s ease-out;
}

@media (min-width:320px)  {

}
@media (min-width:481px)  {

}
@media (min-width:641px)  {

}
@media (min-width:961px)  {

}
@media (min-width:1025px) {

}
@media (min-width:1281px) {
  
}
