@import "../node_modules/ol/ol.css";
@import "font-jagotani.min.css";

@font-face {
  font-family: 'SFCompactRounded';
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Regular.eot');
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Regular.woff2') format('woff2'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Regular.woff') format('woff'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Regular.ttf') format('truetype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Regular.svg#SFCompactRounded-Regular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: "SFCompactRounded";
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Medium.eot');
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Medium.woff2') format('woff2'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Medium.woff') format('woff'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Medium.ttf') format('truetype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Medium.svg#SFCompactRounded-Medium') format('svg');
  font-weight: 500;
}
@font-face {
  font-family: "SFCompactRounded";
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Light.eot');
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Light.woff2') format('woff2'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Light.woff') format('woff'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Light.ttf') format('truetype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Light.svg#SFCompactRounded-Light') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: "SFCompactRounded";
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.eot');
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.woff2') format('woff2'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.woff') format('woff'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.ttf') format('truetype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Semibold.svg#SFCompactRounded-Semibold') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: "SFCompactRounded";
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Bold.eot');
  src: url('../fonts/SFCompactRounded/SFCompactRounded-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Bold.woff2') format('woff2'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Bold.woff') format('woff'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Bold.ttf') format('truetype'),
      url('../fonts/SFCompactRounded/SFCompactRounded-Bold.svg#SFCompactRounded-Bold') format('svg');
  font-weight: 700;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'SFCompactRounded', Helvetica, sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#mapinfo tr > th:nth-child(1),
#mapinfo tr > td:nth-child(2) {
    display: none;
}
#mapinfo .table th, #mapinfo .table td {
    font-size: 0.9rem;
}

#mapinfo .table>:not(:first-child) {
    border-top: 1px solid #dedede;
}

#mapinfo .table th {
    border-bottom: 2px solid #dedede;
}

#map-info table.table, #mapinfo table.table{
  margin-bottom: 0;
  caption-side: top;
}
#mapinfo table caption{
  font-weight: bolder;
  color: var(--bs-gray-600);
}

#mapInfo .btn-close{
  float: right;
  margin-bottom: -1rem;
}

#mouse-position {
  position: absolute;
  left: 0.5em;
  bottom: 3.2em;
  z-index: 1;
  font-size: 0.72rem;
  color: white;
  background-color: rgba(0,60,136,0.5);
  padding: 0.18rem 0.27rem;
}


#menu-toggle{
  position:absolute;
  z-index: 1;
  top: 0.54rem; left: 0.54rem;
  background-color: transparent;
  border-color: transparent;
}
#menu-toggle:focus{
  box-shadow: none !important;
  background-color:transparent;
  border-color:transparent;
}
#menu-toggle #menu-title{
  margin: 0 0.54rem;
}

.ol-control {
  padding: 0;
}
.ol-zoom {
    top: 0.54em;
    left: 15.48em;
}
.ol-overviewmap {
    left: 15.48em;
    bottom: 2.52em;
}
.ol-scale-line {
    left: 15.48em;
    bottom: 0.54em;
}

/* offcanvas custom */
.offcanvas{
  background: linear-gradient(180deg, #004572 10%, #004572ed);
  box-shadow: inset -4.5px 0px 0px #ffc106;
}
.offcanvas-header:before {
  position: absolute;
  content: "";
  width: 43.2px;
  height: 32.4px;
  background-color: #ffc106;
  right: 0;
  border-radius: 0.36rem 0 0 0.36rem;
}

.offcanvas-header .btn-close {
  z-index: 1;
}
.offcanvas-header .btn-close:focus {
    outline: 0;
    box-shadow: none;
    z-index: 0;
}
.offcanvas-body {
    padding: 1rem 1.45rem 1rem 1rem;
}
.offcanvas-body small{
  opacity: 0.63;
}

#filter-div {
    position: absolute;
    top: 0.54rem;
    right: 0.54rem;
}

a#filter-toggle {
  color: #ffffff;
  text-decoration: none;
  /* margin: 0; */
}
#map-filter {
  /* position: absolute;
  top: 0.54em;
  right: 0.54em; */
  padding: 0.63rem 0.72rem;
  border-radius: 0.45rem;
  background: #063b63c0;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846;
}
#map-filter .form-switch .form-check-input {
  width: 1.8em;
  margin-left: -2.16em;
}
#map-filter .form-switch .form-check-label {
  font-size: 0.81rem;
  margin-right: 0.36em;
}

#afdeling-filter, #block-filter {
  padding: 0.63rem 0.72rem;
  border-radius: 0.45rem;
  background: #063b63c0;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846;
}

#afdeling-filter label, #block-filter label {
  width: 2.07rem;
  margin: 0 0.36rem 0.63rem 0;
  font-size: 0.81rem;
  border-color: #f8f9fa80;
}
#afdeling-filter label:focus, #block-filter label:focus {
  box-shadow: 0 0 0 0.09rem rgb(248 249 250 / 50%);
}

.border-bottom-blue{
  border-bottom: 0.54px solid #407496;
}

#wrapper{
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
}

#sidebar{
  background: #004572de;
  height: calc(100% - 1.08rem);
  width: 14.4rem;
  position: absolute;
  top: 0.54rem;
  left: 0.54rem;
  z-index: 1;
  border-radius: 0.45rem;
  overflow-y: auto;
  scrollbar-width: 0.54rem;
  padding: 2.7rem 0.54rem 0.54rem;
}

#content{
  width: calc(100% - 324px);
  position: relative;
  flex: 1 1 auto;
}
#info {
  background: #002d4b;
  width: calc(100% - 16.02rem);
  z-index: 1;
  position: absolute;
  bottom: 0.54rem;
  left: 15.48rem;
  border-radius: 0.45rem;
}

#info button#edit-feature {
    max-width: fit-content;
}
#info .row.feature-box {
    background-color: #ededed18;
    border-radius: 0.45rem;
}
#info .btn-close{
  float: right;
}
#info .feature-title{
  min-width: max-content;
  margin-right: 1rem;
}

#title {
  line-height: 1;
  text-align: center;
  background-color: #063b63;
  margin: 0.54rem 0;
  border-radius: 0.45rem;
  border: 0.27px solid #02284600;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846;
  padding: 0.9rem 0;
}

#stats{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

#stats .stats-box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 6.3rem;
  line-height: 1;
  text-align: center;
  background-color: #efefef09;
  margin: 0.27rem 0;
  border-radius: 0.45rem;
  border: 0.27px solid #efefef18;
}
#stats .stats-box:before {
  content: "";
  position: absolute;
  left: 20%;
  top: 42.3%;
  width: 60%;
  height: 0.9px;
  background: radial-gradient(circle at center, #ffffff27, transparent);
}

.stats-box .stats-label{
  font-size: 0.8em;
  font-weight: 300;
}
.stats-box .stats-value{
  position: relative;
  font-size: 1.8em;
  margin-top: 0.54rem;
  font-weight: 500;
}

.sidebar-title {
   display: none;
}

/* EDIT SEPRI */
#select-filter {
  /* position: absolute;
  top: 11.5em;
  right: 0.54em; */
  margin-top: 0.54rem;
  padding: 0.63rem 0.72rem;
  border-radius: 0.45rem;
  background: #063b63c0;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846;
}
#select-filter .form-switch .form-check-input {
  width: 1.8em;
  margin-left: -2.16em;
}
#select-filter .form-switch .form-check-label {
  font-size: 0.81rem;
  margin-right: 0.36em;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 200px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

th {
  color: white;
}
tr {
  color: white;
}

/* info table style */
.table>:not(:first-child) {
  border-top: 1px solid #ffffff81;
}

/* Mobile Style */

body.mobile #sidebar{
  width: 4.5rem;
}

body.mobile #menu-logo {
    margin-inline-start: 0.63rem;
}
body.mobile #menu-title{
  visibility: hidden;
}

body.mobile #stats .stats-box {
  min-height: 3.42rem;
  padding: 0 0.36rem;
}

body.mobile #stats .stats-box:before {
  display: none;
}

body.mobile .stats-box .stats-label{
  font-size: 0.63em;
}
body.mobile .stats-box .stats-value{
  margin-top: 0;
  font-size: 0.9em;
}
body.mobile .ol-zoom {
  top: 4.95rem;
  left: 5.58rem;
}
body.mobile .ol-overviewmap {
    left: 5.58rem;
    bottom: 2.52rem;
}
body.mobile .ol-scale-line {
    left: 5.58em;
    bottom: 0.54rem;
}

body.mobile #title {
  display: none;
}
body.mobile .sidebar-title {
  display: block;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  width: calc(100% - 6.12rem);
  top: 0.54rem;
  left: 5.58rem;
  line-height: 1;
  text-align: center;
  background-color: #063b63;
  margin: 0;
  border-radius: 0.45rem;
  border: 0.27px solid #02284600;
  box-shadow: inset 0.27px 0.45px #022846,  inset -0.27px -0.45px #022846;
  padding: 0.36rem 0;
}

body.mobile #filter-div {
  position: absolute;
  top: 4.95rem;
  right: 0.54rem;
}
/* body.mobile #map-filter {
  font-size: 0.8rem;
  padding: 0.45rem 0.54rem;
  top: 4.95rem;
}
body.mobile #select-filter {
  font-size: 0.8rem;
  padding: 0.45rem 0.54rem;
  top: 15.95rem;
} */
body.mobile #info {
  width: calc(100% - 6.12rem);
  bottom: 0.54rem;
  left: 5.58rem;
  font-size: 0.72rem;
}
body.mobile #info #edit-feature {
  font-size: 0.72rem;
  padding: 0.18rem 0.36rem;
  margin-left: 0.54rem;
}

@media (min-width:320px)  {

}
@media (min-width:481px)  {

}
@media (min-width:641px)  {

}
@media (min-width:961px)  {

}
@media (min-width:1025px) {

}
@media (min-width:1281px) {
  
}