@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#map-info{
  position: absolute;
  left: 2.5em;
  bottom: 1.5em;
  z-index: 1;
  font-size: 0.72rem;
  color: white;
  background-color: rgba(0,60,136,0.5);
  padding: 0.18rem 0.27rem;
}
#mouse-position {
  position: absolute;
  left: 0.5em;
  bottom: 3.2em;
  z-index: 1;
  font-size: 0.72rem;
  color: white;
  background-color: rgba(0,60,136,0.5);
  padding: 0.18rem 0.27rem;
}
.ol-zoom {
    top: 0.5em;
    left: unset;
    right: 0.5em;
}
.ol-overviewmap {
    left: 0.5em;
    bottom: 4.1em;
}
.ol-scale-line {
    left: 0.5em;
    bottom: 0.5em;
}